.login-section{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a7bcff;
}
.Login-container{
    width: 90%;
    max-width: 350px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 15px 20px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    
}
.heading{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
}
.logo-img{
    position: absolute;
    top: 15px;
    right: 10px;
    width: 40px;
    
}
::placeholder{
    color: black;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    gap: 20px;
}
.Login-form{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
input{
    width: 85%;
}
input[type="text"],input[type="email"],input[type="password"]{
    height: 40px;
    font-size: 15px;
    font-weight: 400;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid gray;
}
input::placeholder{
    color: black;
    font-size: 16px;
}
/* :-ms-input-placeholder,::-webkit-input-placeholder{
    font-size: 18px;
} */
.small-text{
    font-size: 15px;
}
.login-button{
    height: 40px;
    color: white;
    background-color: #a7bcff;
    font-weight: 800;
    width: 90%;
    border: none;
}
input:focus{
    outline: none;
}